div.card:hover {
  transform: scale(1.03);
  box-shadow: 1px 13px 40px -5px rgba(93, 93, 129, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

div.card {
  align-items: center;
  cursor: pointer;
  border:1px solid #e0dbdb;
  padding:3%;
  border-radius: 10px;
}

@media(min-width: 900px){
  div.card{
    padding:5%;
  }

  div.list-items-container, #list-items-container{
    margin-left: 60px !important;
    margin-right: 60px !important;
  }

  .card-margin-bottom{
    margin-bottom: 15px;
    padding: 20px;
  }
}

.h5 {
  font-size: 1rem !important;
}

.card-img-top {
  height: 165px !important;
  object-fit: cover;
}

@media(max-width: 900px){
  .card-margin-bottom{

    margin-bottom: 5px;
    padding: 10px;

  }
}
div.price-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.price-section > .price-element{
  margin-left: 10px;
  margin-right: 10px;
}
.price-element > i{
  color: rgb(199, 130, 1);
}

div.card-body{
  width: 100%;
  text-align: left;
  padding: .75rem;
}

div.card-title.h5{
  font-weight: 700;
}
p.card-text{
  font-weight: 500;
}