@media all and (min-width:900px){
.main-container{
    padding: 15px 30px 30px 30px;
    margin-left: 100px;
    margin-right: 100px;
}


.masthead-container{
    box-sizing: border-box;
}
}

.masthead-container img {
    border-radius: 15px;
    object-fit: cover;
}
@media all and (min-width: 700px){

    .masthead-container img {
        height: 500px !important;
    }
}

@media all and (max-width: 600px){
    .masthead-container{
        padding: 5px;
        width: 100%;
        margin-left: 0px;
    }
}

@media(min-width: 900px){
    div.list-items-container{
        border-radius: 2px;
        margin: 40px;
    }
}

@media(max-width: 900px){
    div.list-items-container{
        border-radius: 2px;
        margin: 10px;
    }
}

div.rent-away-msg{
    border: 1px solid whitesmoke;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
    
    
}
div.rent-away-msg > p{
    font-weight: 700;
    font-weight: bolder;
    font-size: x-large;
    color: var(--orange);
    font-style: italic;
}

div.rent-away-msg > span{
    font-family: sans-serif;
    font-size: large;
}

div.show-badge{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 8px;
    margin-left: 5%;
    margin-right: 5%;
}