.navbar-item{
    height: 60px;
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    position: sticky;
    position: -webkit-sticky;
  }
 
.logo-image{
    margin-left: 30px;
    height: 50px;
}

.navbar-collapse.collapse{
  flex-direction: row-reverse !important;
}

@media (max-width: 600px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .navbar-collapse.collapse.show { 
    display: flex !important; 
    flex-direction: column !important; 
  }

  div.margin-below {
    margin-bottom: 10px;
  }
}

.navbar-box{
  box-shadow: 0 1px 3px 0 rgba(44,44,44,0.5);
  height: 58px;

}

@media(max-width: 600px){

  .navbar-bg{
    background: white;
  }
}

/* @media(max-width: 600px){
  .nav-link-desktop{
    display: block !important;
  }
} */

@media(min-width: 900px){
  .nav-link-desktop{
    display: none !important;
    text-align: left !important;
  }
}

@media(max-width: 600px){
  .nav-link-mobile{
    display: none !important;
  }

  .nav-link{
    color: purple !important;
    margin: 10px;
  }


  .nav-link-text{
    text-align: left !important;
  }
}





